pre {
    display: none;
}

li.meta {
    border-bottom: solid 1px;
    width: 50%;
    border-color: #DDD;
    display: flex;
    padding: 0.4em;
    color: #99aece;
    display: none;
}
li.meta>* {
    width: 100%;
}

ul.metas {
    display: flex;
    flex-wrap: wrap;
}

li.meta:nth-child(even) {
    border-left: solid 1px #f1f1f1;
    padding-left: .5rem;
}

ul.tokens-list.tokens {
    background: #EEE;
    /* width: 50%; */
    font-size: 1.2em;
}

li.token {
    display: flex;
    padding: 0.3rem 0;
}

li.token>* {
    width: 100%;
    padding: 0 1rem;
}

#websockets .token span.type {
    width: initial;
    margin: 0 1em;
    background: #CCC;
    padding: 0 1em;
}

.token span.word {
    min-width: 37%;
    width: initial;
    padding: 0rem 0 0rem 1rem;
}

div.word {
    background: #8BC34A;
    display: inline-block;
    padding: 0.6em 1.1em;
    font-size: 1.4rem;
}

span.defin {
    margin-left: auto;
    width: initial;
    margin-right: 1%;
}
span.start.weight {
    font-family: monospace;
    overflow: hidden;
    width: 9rem;
}

li.meta.en {
    color: #000;
    display: flex;
}

li.meta[weight="1"] {
    color: #7dbbc3;
}

span.rel {
    background: #DDD;
    margin: auto;
    padding: 0.2em 0.5em;
}

.horiz {
    display: flex;
    align-items: center;
}

.horiz ul.tokens-list {
    width: 100%;
    margin-left: 2rem;
}

.message-type {
    display: flex;
    align-items: center;
    margin: 0rem 0 1rem;
}


.message-type span.label, .message-type span.action {
    background: #333;
    padding: 0.3em 0.8rem;
    color: white;
    font-size: 1.2rem;
}
